.comment-display-container {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}
.comment-display-container > .comment-header {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.comment-header > h2{
    font-size: 25px;
}
.comment-header > span {
    color: #fff;
}
.comment-content {
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    display: flex;
    align-items: center;
}
.comment-content > p {
    font-size: 16px;
    line-height: 1.2;
}
