
.post {
    height: inherit;
    border: solid black 1.2px;
    margin: 5px 0;
    border-radius: 5px;
}
.post-header {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.post-header > h2{
    font-size: 25px;
}
.post-header > span {
    color: #fff;
}
.post-header .post-comments {
    font-weight: 300;
    color: #fff;
    font-size: 23px;
    margin-left: 8px;
    cursor: pointer;
}
.post-comments i:hover {
    color: lightblue;
}
.post-content {
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}
.post-content > p {
    font-size: 16px;
    line-height: 1.2;
}
